<p id="notice"><%= notice %></p>

<h1>Archive</h1>

<div class="container">
	<div class="well center-it">
	<% @blog_posts.each do |post| %>
		<%= link_to post do %>
		<%= image_tag post.avatar.url(:medium) %>
		<% end %>
	<% end %>
	</div>
</div>


