<p id="notice"><%= notice %></p>

<h1>Archive</h1>

<div class="container">
  <div class="well">
    <% @blog_posts.each do |post| %>
    <%= blog_post.title %>
    <%= image_tag @blog_post.avatar.url(:medium), class: "img-responsive" %>
  </div>
  <% end %>
</div>


<%= link_to 'New Blog post', new_blog_post_path %>
